name: balena

on:
  pull_request:
    types: [opened, synchronize, closed]
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        fleet:
          [
            klutchell_blocks/tailscale-aarch64,
            klutchell_blocks/tailscale-amd64,
            klutchell_blocks/tailscale-armv7hf,
          ]

    steps:
      - uses: actions/checkout@a5ac7e51b41094c92402da3b24376905380afc29 # v4
      - uses: balena-io/deploy-to-balena-action@157b99bf46acb3b2bb61ad92f751f20fd593d58b # v2.0.69
        with:
          balena_token: ${{ secrets.BALENA_API_KEY }}
          fleet: ${{ matrix.fleet }}
          create_tag: true
