name: balena

on:
  pull_request:
    types: [opened, synchronize, closed]
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        fleet:
          [
            klutchell_blocks/tailscale-aarch64,
            klutchell_blocks/tailscale-amd64,
            klutchell_blocks/tailscale-armv7hf,
          ]

    steps:
      - uses: actions/checkout@3df4ab11eba7bda6032a0b82a6bb43b11571feac # v4
      - uses: balena-io/deploy-to-balena-action@f009d295ed6904859c7b99a5637855d9e3ee670e # v1.0.2
        with:
          balena_token: ${{ secrets.BALENA_API_KEY }}
          fleet: ${{ matrix.fleet }}
          create_tag: true
