name: balena

on:
  pull_request:
    types: [opened, synchronize, closed]
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-24.04
    strategy:
      fail-fast: false
      matrix:
        fleet:
          [
            gh_klutchell/tailscale-aarch64,
            gh_klutchell/tailscale-amd64,
            gh_klutchell/tailscale-armv7hf,
          ]

    steps:
      # https://github.com/actions/checkout
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false
          fetch-depth: 1
      # https://github.com/balena-io/deploy-to-balena-action
      - uses: balena-io/deploy-to-balena-action@a18a601d3dca56e1a2d1b6e9d9786e83b8ff1c39 # v2.0.138
        with:
          balena_token: ${{ secrets.BALENA_API_KEY }}
          fleet: ${{ matrix.fleet }}
